.btn-outlined {
    color: var(--blue);
    border-color: var(--blue);
    @apply .bg-white .border-2;
}

.btn {
    background-color: var(--blue);
    @apply .text-white;
}

.btn, .btn-outlined {
    @apply .rounded-full .font-bold px-4 py-2 .cursor-pointer;
}

.btn:focus, .btn-outlined:focus {
    @apply .shadow-outline .outline-none;
}
