<%# login %>
<login-view></login-view>
      <!-- Help Links -->
      <vs-row
        id="extraLinks"
        justify="space-around"
        class="grid lg:grid-cols-12 md:grid-cols-8 sm:grid-cols-4 xs:grid-cols-2 text-white px-10 text-center"
      >
        <div>About</div>
        <div>Help Center</div>
        <div>Terms</div>
        <div>Privacy Policy</div>
        <div>Cookies</div>
        <div>Add info</div>
        <div>Blog</div>
        <div>Status</div>
        <div>Jobs</div>
        <div>Brand</div>
        <div>Advertise</div>
        <div>Marketing</div>
        <div>Bussinesess</div>
        <div>Developers</div>
        <div>Directory</div>
        <div>Settings</div>
        <div>@ 2020 Twitter, inc</div>
      </vs-row>
    </vs-row>